/* --- ANIMATIONS --- */

@keyframes scroll {
    0% { transform: translateY(1rem); opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(0); opacity: 0; }
}

.mouse-animation {
    height: 2rem;
    box-sizing: content-box;
    border-color: var(--color-navy) !important; /* Border Mouse Navy */
}

.mouse-animation > .scroll-animation {
    width: 0.25rem;
    animation: scroll 3s linear infinite;
}

@keyframes spin-icon {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% { transform: translateY(1rem); }
}

.animate-love, .fa-heart {
    animation: love 5s ease-in-out infinite;
}

/* Komentar Fade In */
@keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 20px, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}